@{
    ViewBag.Title = "Home Page";
}
    <ul class="slideshow">
        <li class="show"><img width="680" height="250" src="Content/images/home_3.png" alt="&quot;Здравейте, как сте ?&quot;" /></li>
    </ul>   	 
	 
	  <div id="content">
        <div class="content_item">
		  <h1>Добре дошли при Dummies</h1> 
	      <p>Петък вечерта се събираме в Зала “Мусала” и започва голямото презентиране.Всеки регистриран студент, било то с предварителна идея или не, представя в рамките на 2 минути каква му е идеята и защо тази идея си заслужава.Ако студентът е с предварително сформиран екип, те могат да започнат работа върху идеята си..</p>
		  
		  <div class="content_image">
		    <img src="Content/images/beer.png" alt="image1"/>
	      </div>
		  <p>Красотата е, че има хора, които няма да могат да участват на хакатона, но нямат нищо против да споделят идеите, които имат.</p>
		  <p>Успяхме да синтезираме няколко много добри предложения и да ви ги предоставим като вариант, който да се изкоди по време на HackFMI.</p>
		  <br style="clear:both"/>
		  
		  <div class="content_container">
		    <p>Красотата е, че има хора, които няма да могат да участват на хакатона, но нямат нищо против да споделят идеите, които имат.</p>
		  	<div class="button_small">
		      <a href="#">Read more</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->
          <div class="content_container">
		    <p>Красотата е, че има хора, които няма да могат да участват на хакатона, но нямат нищо против да споделят идеите, които имат.</p>          
		  	<div class="button_small">
		      <a href="#">Read more</a>
		    </div><!--close button_small-->		  
		  </div><!--close content_container-->			  
		</div><!--close content_item-->
      </div><!--close content-->
  </div><!--close main-->
