@{
    ViewBag.Title = "BusinessProfile";
}

<div class="student-profile-info">
        <div class="student-profile-picture">
            <a href="">
            <img src="../Content/images/java.jpg" width="200" height="200" alt="Dimo Uzunov" />
            </a>
        </div>
        <div class="student-profile-overview">
            <div class="student-profile-content">
                <h2>
                    <span class="full-name">Dummies Pro Solutions (DPS)</span>
                </h2>
                <div class="student-desctiption">
                    <p>Ние сме нова фирма и си търсим Java developers</p>
                    <p>Интересуваме се от Java</p>
                    <p>Търсим си Java developer</p>
                    <p>Предлагаме пари</p>
                    <br />
                    <h3>Оферти :</h3>
                    <li>@Html.ActionLink("Java Developer", "JavaDeveloper", "Student")</li>
                </div>
            </div>
        </div>


</div>
