@{
    ViewBag.Title = "Index";
}

<div id="student-profile-content">
    <div class="student-profile-info">
        <div class="student-profile-picture">
            <a href="">
            <img src="Content/images/dimo-image.jpg" width="200" height="200" alt="Dimo Uzunov" />
            </a>
        </div>
        <div class="student-profile-overview">
            <div class="student-profile-content">
                <h2>
                    <span class="full-name">Dimo Uzunov</span>
                </h2>
                <div class="student-desctiption">
                    <p>Искам да завърша помощ !</p>
                    <p>Интересувам се от .......</p>
                    <p>Търся си................</p>
                    <p>Предлагам..............</p>
                </div>
            </div>
        </div>
    </div>
    <div class="student-profile-subjects">
        <h2>Издържани курсове</h2>
        <p>Приложна математика <a href="">+</a></p>
        <p>Статистика практикум <a href="">+</a></p>
        <p>ДАА практикум <a href="">+</a></p>
        <p>Многоплатформени мобилни приложения <a href="">+</a></p>
    </div>
    <div class="student-profile-skills">
        <h2>Умения и интереси</h2>
        <h3>Java</h3>
        <h3>C++</h3>
        <h3>Анализ</h3>
    </div>
</div>
