@{
    ViewBag.Title = "Index";
}

<div id="student-profile-content">
    <div class="student-profile-info">
        <div class="student-profile-picture">
            <a href="">
            <img src="Content/images/programmer.jpg" width="208" height="225" alt="Програмист Джаваров" />
            </a>
        </div>
        <div class="student-profile-overview">
            <div class="student-profile-content">
                <h2>
                    <span class="full-name">Програмист Джаваров</span>
                </h2>
                <div class="student-desctiption">
                    <p>Искам да завърша помощ !</p>
                    <p>Интересувам се от .......</p>
                    <p>Търся си................</p>
                    <p>Предлагам..............</p>
                </div>
            </div>
        </div>
    </div>
    <div class="student-profile-subjects">
        <h2>Издържани курсове</h2>
        <p><span class="skill-number">1. </span>Приложна математика <span class="skill-counter">[ 1 ] </span><a href=""><img class="rating-plus"/></a></p>
        <p><span class="skill-number">2. </span>Статистика практикум <span class="skill-counter">[ - ] </span><a href=""><img class="rating-plus"/></a></p>
        <p><span class="skill-number">3. </span>ДАА практикум <span class="skill-counter">[ 5 ] </span><a href=""><img class="rating-plus"/></a></p>
        <p><span class="skill-number">4. </span>Многоплатформени мобилни приложения <span class="skill-counter">[ 3 ] </span><a href=""><img class="rating-plus"/></a></p>
        <p><span class="skill-number">5. </span>Java EE<span class="skill-counter">[ 2 ] </span><a href=""><img class="rating-plus"/></a></p>
        <p><span class="skill-number">6. </span>Java<span class="skill-counter">[ 1 ] </span><a href=""><img class="rating-plus"/></a></p>
    </div>
    <div class="student-profile-skills">
        <h2>Умения и интереси</h2>
        <h3><span class="skill-number">1. </span>Java</h3>
        <h3><span class="skill-number">2. </span>C++</h3>
        <h3><span class="skill-number">3. </span>Анализ</h3>
    </div>
</div>
