@{
    ViewBag.Title = "JavaDeveloper";
}

<div class="student-profile-info">
    <div class="student-profile-overview">
        <div class="student-profile-content">
        <h2>Java Developer</h2>

        <h1>Тъсим си Java Developer с издържани Java EE и Java</h1>
        </div>
    </div>
</div>