@{
    ViewBag.Title = "Search";
}
<script src="../../Content/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        idNumber = 1;
        $(".addNewCourse").click(function () {
            var coursesDiv = document.getElementById("courses");
            var newDiv = document.createElement("div");
            var newSpan = document.createElement("span");
            newSpan.innerHTML = "Курс : ";
            var newSelect = document.createElement("select");
            newSelect.setAttribute("id", "select" + idNumber);
            idNumber++;
            var newOption = new Option("JavaEE", "JavaEE");
            newSelect.appendChild(newOption);
            newOption = new Option("Java", "Java");
            newSelect.appendChild(newOption);
            newOption = new Option("C++", "C++");
            newSelect.appendChild(newOption);
            newOption = new Option("C#", "C#");
            newSelect.appendChild(newOption);
            newSpan.appendChild(newSelect);
            newDiv.appendChild(newSpan);
            coursesDiv.appendChild(newDiv);
        });

        /*
        $(".find").click(function () {
            if (idNumber > 1) {
                var value = "";
                for (var i = 0; i < idNumber; i++) {
                    value += $("#select" + i).val();
                }
                if (value == "JavaEEJava" || value == "JavaJavaEE") {
                    alert(value);
                }
            }
            else alert($("#select0").val());
        });
        */
    });
</script>
<div class="student-profile-info">
    <h2>Търся: </h2>
    <div>
        <span>
            Студенти с издържани курсове
        </span>
    </div>
    <br />
    <div id="courses">
        <div class="selectDiv0">
        <span>Курс :
            <select id="select0">
                <option value="JavaEE">JavaEE</option>
                <option value="Java">Java</option>
                <option value="C++">C++</option>
                <option value="C#">C#</option>
            </select>
        </span>
        <span>
            <button class="addNewCourse">Добави още курсове + </button>
        </span>
        </div>
    </div>
    <div>
        <button class="find">@Html.ActionLink("Намери", "Dummy", "ViewStudent")</button>
    </div>
</div>
