@{
    ViewBag.Title = "SearchOffers";
}

<script src="../../Content/js/jquery.min.js"></script>
<script src="../../Content/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        idNumber = 1;
        $(".addNewCourse").click(function () {
            var coursesDiv = document.getElementById("courses");
            var newDiv = document.createElement("div");
            var newSpan = document.createElement("span");
            newSpan.innerHTML = "Курс : ";
            var newSelect = document.createElement("select");
            newSelect.setAttribute("id", "select" + idNumber);
            idNumber++;
            var newOption = new Option("Приложна математика", "Приложна математика");
            newSelect.appendChild(newOption);
            newOption = new Option("Статистика практикум", "Статистика практикум");
            newSelect.appendChild(newOption);
            newOption = new Option("ДАА практикум", "ДАА практикум");
            newSelect.appendChild(newOption);
            newOption = new Option("Многоплатформени мобилни приложения", "Многоплатформени мобилни приложения");
            newSelect.appendChild(newOption);
            newOption = new Option("Java EE", "Java EE");
            newSelect.appendChild(newOption);
            newOption = new Option("Java", "Java");
            newSelect.appendChild(newOption);
            newSpan.appendChild(newSelect);
            newDiv.appendChild(newSpan);
            coursesDiv.appendChild(newDiv);
        });
});
</script>
<div class="student-profile-info">
    <h2>Търся: </h2>
    <div>
        <span>
            Оферти свързани с издържани курсове
        </span>
    </div>
    <br />
    <div id="courses">
        <div class="selectDiv0">
        <span>Курс :
            <select id="select0">
                <option value="Приложна математика">Приложна математика</option>
                <option value="Статистика практикум">Статистика практикум</option>
                <option value="ДАА практикум">ДАА практикум</option>
                <option value="Многоплатформени мобилни приложения">Многоплатформени мобилни приложения</option>
                <option value="Java EE">Java EE</option>
                <option value="Java">Java</option>
            </select>
        </span>
        <span>
            <button class="addNewCourse">Добави още курсове + </button>
        </span>
        </div>
    </div>
    <div>
        <button class="find">@Html.ActionLink("Намери", "DummyOffers", "ViewStudent")</button>
    </div>
</div>
