@model IEnumerable<Dummies.Models.Student>

<h2 class="students-header">Students</h2>

<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "Name");
    }

    @grid.GetHtml(columns:grid.Columns(
    grid.Column(
        "Name",
        format: @<text>@Html.ActionLink((string)item.Name, "Index", "Student")</text>,
        style: "webgrid-column"
        ),
    grid.Column(
        "Is Employed",
        format: @<text>@Html.Label("IsEmployed", "No")</text>,
        style: "webgrid-column"
          
    ),
    grid.Column(
        "Faculty Number",
        format: @<text>@Html.Label("Faculty Number", "80518")</text>,
        style: "webgrid-column"
        
        
    )),
    headerStyle: "webgrid-header",
    rowStyle: "webgrid-row-style",
    tableStyle: "webgrid",
    selectedRowStyle: "webgrid-selected-row"
    )
    
</div>

<div id="StudentDetailsPartial">

</div>
